<h1>Bienvenido a la Página Principal</h1>

<button class="btn-a"><a href="/paginaa">Pagina A</a></button>
<button class="btn-b"><a href="/paginab">Pagina B</a></button>
<button class="btn-c"><a href="/paginac">Pagina C</a></button>