<h1>Pagina C</h1>
<h2 class="visitas">{{visitas}}</h2>
<button class="btn"><a href="/">Regresar a Home</a></button>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam ad dolore nesciunt ab alias ipsam asperiores excepturi inventore, distinctio quaerat error, omnis iusto quis rerum repellendus nihil officiis ea molestiae. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam nesciunt officiis minus! Perferendis non, fugiat voluptatibus, nihil impedit, accusantium vero eius modi culpa magnam repudiandae distinctio asperiores exercitationem quae minus?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut similique mollitia, iste consequatur, delectus dolorem doloremque architecto tenetur quo ipsa cumque recusandae totam a suscipit magnam voluptatem praesentium maxime ratione.</p>
<input type="hidden" class="tipo" value="C">

<button class="btn-a"><a href="/paginaa">Pagina A</a></button>
<button class="btn-b"><a href="/paginab">Pagina B</a></button>